<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="card border-0 mb-3">
      <div class="row g-0">
        <div class="col-xs-12 col-sm-5 col-md-5">
          <img
            src="https://elabdfoods.com/images/thumbs/0000669_-_550.png"
            class="img-fluid rounded-start border-end border-2"
          />
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7">
          <div class="card-body ps-4">
            <h1 class="card-title">Oriental Nuts Mix</h1>
            <p class="discrip">
              An assortment of Middle Eastern sweets, El Abd Oriental Sweets
              Plate is the perfect gift for gatherings and occasions..
            </p>
            <h5 class="">
              <p class="review">1 Review(S) | Add Your Review</p>
              <p class="review">Availability:In stock</p>
              <p class="price">310.00 ج.م.‏</p>
              <p class="review">Package Quantity: 40 Pieces</p>
              <p class="review">Qty:</p>
            </h5>
            <div class="add">
              <a type="button" class="btn my-3 col-6">Add To Cart</a>
            </div>
            <div>
              <a class="nav-link ps-0 favs" type="button"
                ><i class="bi bi-suit-heart me-2"></i>Add To WishList</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-5 col-md-5">
        <img
          src="https://elabdfoods.com/images/thumbs/0000669_-_550.png"
          width="455.900"
          height="455.900"
          class="border-end border-2"
        />
      </div>
      <div class="col-xs-12 col-sm-7 col-md-7">mohamed</div> -->
  </div>
</div>
