<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="card border-0 mb-3">
      <div class="row g-0">
        <div class="col-xs-12 col-sm-5 col-md-5">
          <img
            src="{{ prd.img }}"
            class="img-fluid rounded-start border-end border-2"
          />
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7">
          <div class="card-body ps-4">
            <h1 class="card-title">Oriental Nuts Mix</h1>
            <p class="discrip">
              {{ prd.discription }}
            </p>
            <h5 class="">
              <p class="review">1 Review(S) | Add Your Review</p>
              <p class="review" *ngIf="prd.quantity >= 1">
                Availability:In stock
              </p>
              <p class="review" *ngIf="prd.quantity == 0">
                Availability:Out Of stock
              </p>
              <p class="price">{{ prd.price }} ج.م.‏</p>
              <p class="review">Package Quantity: {{ prd.volume }}</p>
              <p class="review">Qty::{{ prd.quantity }}</p>
            </h5>
            <div class="add">
              <a
                type="button"
                class="btn my-3 col-6"
                (click)="addToLocalStorge(prd)"
                >Add To Cart</a
              >
            </div>
            <div>
              <a class="nav-link ps-0 favs" type="button"
                ><i class="bi bi-suit-heart me-2"></i>Add To WishList</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
