<div class="container my-5">
  <div class="card border-0 mb-3 col-10 m-auto">
    <div class="row g-0">
      <div class="col-md-6 img-hover-zoom">
        <img
          src="https://elabdfoods.com/images/thumbs/welcomesectionImage.jpg"
          class="img-fluid rounded"
          width="520"
          height="500"
        />
      </div>
      <div class="col-md-6 d-none d-sm-block my-auto">
        <div class="card-body">
          <h2 class="card-title">
            <span class="mini">Mini</span>
            <span class="san"> Sandwiches</span>
          </h2>
          <p class="card-text">
            The most delicious mini sandwiches baked with expertise, taste and
            quality
          </p>
          <p class="card-text">
            <a type="button" class="btn">Shop Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
