<div class="container-fluid">
  <div class="row text-center fs-2">
    <strong class="category">Featured Products</strong>
  </div>
  <div
    id="carouselExampleControls"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active my-5 py-5">
        <div class="card-wrapper d-flex justify-content-center">
          <div class="allcards row ms-2">
            <div class="card m-2 col-xs-12 col-sm-12 col-md-3">
              <div class="img">
                <img
                  src="https://elabdfoods.com/images/thumbs/0000679_-_415.png"
                  class="card-img-top"
                  width="157.500"
                  height="157.500"
                />
              </div>

              <div class="card-body">
                <h1 type="button" class="card-title text-center">
                  chocolate-croissant
                </h1>
                <div class="text-center mb-4">
                  <span class="price pt-2">20.00 ج.م.‏</span>
                </div>
                <hr />

                <div class="text-center">
                  <ul class="social-icons" style="padding-left: 0px">
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-suit-heart"></i>
                      </a>
                    </li>
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-basket position-relative"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card m-2 col-xs-12 col-sm-12 col-md-3">
              <div class="img">
                <img
                  src="https://elabdfoods.com/images/thumbs/0000679_-_415.png"
                  class="card-img-top"
                  width="157.500"
                  height="157.500"
                />
              </div>

              <div class="card-body">
                <h1 type="button" class="card-title text-center">
                  chocolate-croissant
                </h1>
                <div class="text-center mb-4">
                  <span class="price pt-2">20.00 ج.م.‏</span>
                </div>
                <hr />

                <div class="text-center">
                  <ul class="social-icons" style="padding-left: 0px">
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-suit-heart"></i>
                      </a>
                    </li>
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-basket position-relative"></i>
                        <span
                          class="position-absolute top-20 start-40 translate-middle badge rounded-pill p-0"
                          style="background-color: #763c2c; font-size: 70%"
                        >
                          <i class="bi bi-plus-circle"></i> </span
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card m-2 col-xs-12 col-sm-12 col-md-3">
              <div class="img">
                <img
                  src="https://elabdfoods.com/images/thumbs/0000679_-_415.png"
                  class="card-img-top"
                  width="157.500"
                  height="157.500"
                />
              </div>

              <div class="card-body">
                <h1 type="button" class="card-title text-center">
                  chocolate-croissant
                </h1>
                <div class="text-center mb-4">
                  <span class="price pt-2">20.00 ج.م.‏</span>
                </div>
                <hr />

                <div class="text-center">
                  <ul class="social-icons" style="padding-left: 0px">
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-suit-heart"></i>
                      </a>
                    </li>
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-basket position-relative"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card m-2 col-xs-12 col-sm-12 col-md-3">
              <div class="img">
                <img
                  src="https://elabdfoods.com/images/thumbs/0000679_-_415.png"
                  class="card-img-top"
                  width="157.500"
                  height="157.500"
                />
              </div>

              <div class="card-body">
                <h1 type="button" class="card-title text-center">
                  chocolate-croissant
                </h1>
                <div class="text-center mb-4">
                  <span class="price pt-2">20.00 ج.م.‏</span>
                </div>
                <hr />

                <div class="text-center">
                  <ul class="social-icons" style="padding-left: 0px">
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-suit-heart"></i>
                      </a>
                    </li>
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-basket position-relative"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item my-5 py-5">
        <div class="card-wrapper d-flex justify-content-center">
          <div class="allcards row ms-2">
            <div class="card m-2 col-xs-12 col-sm-12 col-md-3">
              <div class="img">
                <img
                  src="https://elabdfoods.com/images/thumbs/0000679_-_415.png"
                  class="card-img-top"
                  width="157.500"
                  height="157.500"
                />
              </div>

              <div class="card-body">
                <h1 type="button" class="card-title text-center">
                  chocolate-croissant
                </h1>
                <div class="text-center mb-4">
                  <span class="price pt-2">20.00 ج.م.‏</span>
                </div>
                <hr />

                <div class="text-center">
                  <ul class="social-icons" style="padding-left: 0px">
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-suit-heart"></i>
                      </a>
                    </li>
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-basket position-relative"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card m-2 col-xs-12 col-sm-12 col-md-3">
              <div class="img">
                <img
                  src="https://elabdfoods.com/images/thumbs/0000679_-_415.png"
                  class="card-img-top"
                  width="157.500"
                  height="157.500"
                />
              </div>

              <div class="card-body">
                <h1 type="button" class="card-title text-center">
                  chocolate-croissant
                </h1>
                <div class="text-center mb-4">
                  <span class="price pt-2">20.00 ج.م.‏</span>
                </div>
                <hr />

                <div class="text-center">
                  <ul class="social-icons" style="padding-left: 0px">
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-suit-heart"></i>
                      </a>
                    </li>
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-basket position-relative"></i>
                        <span
                          class="position-absolute top-20 start-40 translate-middle badge rounded-pill p-0"
                          style="background-color: #763c2c; font-size: 70%"
                        >
                          <i class="bi bi-plus-circle"></i> </span
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card m-2 col-xs-12 col-sm-12 col-md-3">
              <div class="img">
                <img
                  src="https://elabdfoods.com/images/thumbs/0000679_-_415.png"
                  class="card-img-top"
                  width="157.500"
                  height="157.500"
                />
              </div>

              <div class="card-body">
                <h1 type="button" class="card-title text-center">
                  chocolate-croissant
                </h1>
                <div class="text-center mb-4">
                  <span class="price pt-2">20.00 ج.م.‏</span>
                </div>
                <hr />

                <div class="text-center">
                  <ul class="social-icons" style="padding-left: 0px">
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-suit-heart"></i>
                      </a>
                    </li>
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-basket position-relative"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card m-2 col-xs-12 col-sm-12 col-md-3">
              <div class="img">
                <img
                  src="https://elabdfoods.com/images/thumbs/0000679_-_415.png"
                  class="card-img-top"
                  width="157.500"
                  height="157.500"
                />
              </div>

              <div class="card-body">
                <h1 type="button" class="card-title text-center">
                  chocolate-croissant
                </h1>
                <div class="text-center mb-4">
                  <span class="price pt-2">20.00 ج.م.‏</span>
                </div>
                <hr />

                <div class="text-center">
                  <ul class="social-icons" style="padding-left: 0px">
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-suit-heart"></i>
                      </a>
                    </li>
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-basket position-relative"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item my-5 py-5">
        <div class="card-wrapper d-flex justify-content-center">
          <div class="allcards row ms-2">
            <div class="card m-2 col-xs-12 col-sm-12 col-md-3">
              <div class="img">
                <img
                  src="https://elabdfoods.com/images/thumbs/0000679_-_415.png"
                  class="card-img-top"
                  width="157.500"
                  height="157.500"
                />
              </div>

              <div class="card-body">
                <h1 type="button" class="card-title text-center">
                  chocolate-croissant
                </h1>
                <div class="text-center mb-4">
                  <span class="price pt-2">20.00 ج.م.‏</span>
                </div>
                <hr />

                <div class="text-center">
                  <ul class="social-icons" style="padding-left: 0px">
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-suit-heart"></i>
                      </a>
                    </li>
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-basket position-relative"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card m-2 col-xs-12 col-sm-12 col-md-3">
              <div class="img">
                <img
                  src="https://elabdfoods.com/images/thumbs/0000679_-_415.png"
                  class="card-img-top"
                  width="157.500"
                  height="157.500"
                />
              </div>

              <div class="card-body">
                <h1 type="button" class="card-title text-center">
                  chocolate-croissant
                </h1>
                <div class="text-center mb-4">
                  <span class="price pt-2">20.00 ج.م.‏</span>
                </div>
                <hr />

                <div class="text-center">
                  <ul class="social-icons" style="padding-left: 0px">
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-suit-heart"></i>
                      </a>
                    </li>
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-basket position-relative"></i>
                        <span
                          class="position-absolute top-20 start-40 translate-middle badge rounded-pill p-0"
                          style="background-color: #763c2c; font-size: 70%"
                        >
                          <i class="bi bi-plus-circle"></i> </span
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card m-2 col-xs-12 col-sm-12 col-md-3">
              <div class="img">
                <img
                  src="https://elabdfoods.com/images/thumbs/0000679_-_415.png"
                  class="card-img-top"
                  width="157.500"
                  height="157.500"
                />
              </div>

              <div class="card-body">
                <h1 type="button" class="card-title text-center">
                  chocolate-croissant
                </h1>
                <div class="text-center mb-4">
                  <span class="price pt-2">20.00 ج.م.‏</span>
                </div>
                <hr />

                <div class="text-center">
                  <ul class="social-icons" style="padding-left: 0px">
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-suit-heart"></i>
                      </a>
                    </li>
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-basket position-relative"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card m-2 col-xs-12 col-sm-12 col-md-3">
              <div class="img">
                <img
                  src="https://elabdfoods.com/images/thumbs/0000679_-_415.png"
                  class="card-img-top"
                  width="157.500"
                  height="157.500"
                />
              </div>

              <div class="card-body">
                <h1 type="button" class="card-title text-center">
                  chocolate-croissant
                </h1>
                <div class="text-center mb-4">
                  <span class="price pt-2">20.00 ج.م.‏</span>
                </div>
                <hr />

                <div class="text-center">
                  <ul class="social-icons" style="padding-left: 0px">
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-suit-heart"></i>
                      </a>
                    </li>
                    <li>
                      <a class="hover mx-2 shadow-sm"
                        ><i class="bi bi-basket position-relative"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span
          class="bi bi-arrow-left-short fs-2"
          style="color: #763c2c !important"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span
          class="bi bi-arrow-right-short fs-2"
          style="color: #763c2c !important"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
