<!-- Navbar -->
<nav class="navbar navbar-expand-lg my-0 py-0">
  <div class="container text-center">
    <a class="navbar-brand me-2 my-0 py-0">
      <strong class="text-white ms-4"> Call Us: 16437 </strong>
    </a>
    <div>
      <ul class="navbar-nav me-auto mb-lg-0"></ul>
      <div class="d-flex align-items-center">
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFwAAABcCAMAAADUMSJqAAAAflBMVEUAAADOESb////NABrde316enr59u7v5M3m1rHs38js38Px6NT17+LMqFR8fX/s4Ma6hwDRsXTdx5fp2rq+kB7Bli/cxZrXvIu9jgDawpDAkw7WvIXEmi3Ut3jPrm3XvH7QsGnhzqXMqlzJo0rfgIb39+jClyHGnjvj0LDDmTxIV9o1AAACDUlEQVRoge3WUY+jIBAHcI/bYyiDRwVXyyoWtKvu9/+CN3af7uESTOjLhX8aJY3+NEMLU/14YaqCF7zgBS94wQte8IIX/F/4zxemejuRx+Nx5vK3iqXnE6M8cTljZ/AuOHFKP4MzrRjnr8IVZ1y9CgcQKjuuAJ+mRotHWRRC0jOScGCMg+KIgKi4Av78Kg/O3yPSEYXQWgsqPMP4njKxKbi6dg0+nwLwNLHpril1ScT7BWg2rVJC0GDp8+F4c/3czeP1wth+HWnYuxtmwuFjcMHU64GL21qbyQ0fKTOagsvRm2m4b9/4+32YjB9T1oEU3G7BND7WT/xaR9+YsNlM+L7MpplM+MaDmRozL3sufF7iEDq3acI314UhLnMuPE5j7OeI5nhzg3Hu4zjFTHjn19gvUlmqs7VKLn1cfZcJd74lPKLUtABIjIS33mXCB9+K/kszkNsmgV2+etH6IRPuh3YPTksQt5sAqWPY28FnwoNvdyE5B7dtDjiXdm99yITX9xaZBgkzhU6aqfZeZ8K3oGj7pCVxDWFVytI+qsKWCV8UF8KKiNFaOtBQcLVkwjkTqI6foaBI+iAKlmsnYhbRMkTNjy2UIRcMU9atNJzqLaJxVBAQ8eJ8RJvUG6X1LfSnV7SBaivBHh2ATXrx5KaIWhfQkgIHnnhT9Sstv/9K4k1VSUlJSUlJSUlJyX+XPxPzRfBdjPlKAAAAAElFTkSuQmCC"
          width="30"
          height="23"
        />
      </div>
    </div>
  </div>
</nav>
